extends views/layout

block content
	.jumbotron
		h1#out Crossword Player
		p#output create and play on different crossword puzzles
	.container
		each cw in crosswords
			-var loc = "/play/"+cw.user+'/'+cw.name
			a.col-xs-12.col-sm-6.col-md-4(href=loc)
				h1=cw.name
				p="by: "+cw.user
				p=cw.date.replace(/(^.*?)\s\d+:.*$/,"$1")